################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/startbootstrap-coming-soon-gh-pages.zip
