
@{
    ViewBag.Title = "PorQueRegistrarse";
}

<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Alcanza Laboral
                </h1>
                <p class="text-white link-nav"><a href="index.html">Inicio </a> &nbsp; <i class="fa fa-arrow-right"></i> &nbsp; <a href="insurance.html"> ¿Por Qué Registrarse?</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start insurence-one Area -->
<section class="insurence-one-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 insurence-left">
                <img class="img-fluid img-one" src="~/img/porqueRegistrarme.jpg" alt="Por que registrarme 1" />
            </div>
            <div class="col-lg-6 insurence-right">
                <h6 class="text-uppercase">Alcanza Laboral</h6>
                <h1>¿Por qué Registrarme?</h1>
                <p align="justify">
                    Las personas en busca de mejores oportunidades laborales necesitan registrarse en algún lugar donde las empresas puedan encontrarlos fácilmente. ALCANZA LABORAL permite que los perfiles laborales o profesionales puedan ser vistos por empresas que continuamente están buscando candidatos para toda clase de puestos de trabajo.
                </p>
                <p align="justify">
                    Las personas que no se publicitan eficientemente antes las empresas, son invisibles en el mercado laboral. Es importante tener una actitud proactiva en la búsqueda de empleo, pero es recomendable utilizar las herramientas que son utilizadas por empresas en buscar candidatos.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- End insurence-one Area -->
<!-- Start insurence-two Area -->
<section class="insurence-two-area pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 insurence-left">


                <p align="justify">En el caso de extranjeros, el registro de ALCANZA LABORAL es fundamental, ya que la gran mayoría de ellos no conoce el mercado laboral peruano, ni cuenta con una red de contactos que les facilite conseguir un trabajo acorde con su capacidad. Por tal motivo, existen miles de profesionales en las calles o en empresas informales, realizando trabajos donde no utilizan eficientemente sus conocimientos, entrenamiento o experiencia.</p>
                <br />
                <p align="justify">El directorio de ALCANZA LABORAL se utiliza para trabajos de plazo indeterminado, temporales, o mejores propuestas laborales a las que un candidato tenga en el momento.</p>
                <br />
                <p align="justify">Finalmente, la inversión de registrarse (S/. 79 soles) es mínima, comparada con los beneficios que se pueden obtener al lograr mejores puestos de trabajo.</p>
                <br />
                <p align="justify">ALCANZA LABORAL es el único registro de perfiles profesionales que ofrece oportunidad de ingresos económicos a través del programa de REPRESENTANTE COMERCIAL. </p>





            </div>
            <div class="col-lg-6 insurence-right">
                <img class="img-fluid img-one" src="~/img/porqueRegistrarme2.jpg" alt="Por que registrarme 2" />
            </div>
        </div>
    </div>
</section>

<!-- End insurence-two Area -->

<script src="~/Scripts/Modulo/Inicio.js"></script>

